@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@400;500&display=swap');

/* index */
.profile-box {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 70%;
  overflow: hidden;
  cursor: pointer;
}

.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-circle img {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.086) 0px 0px 8px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.125s ease-in 0s;
}

body {
  font-family: 'Do Hyeon', sans-serif;
}

.card-body {
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px #999;
  border-radius: 20px;
}

.btn {
  padding: .55rem 1.5rem .45rem;
}

.ex-hyper:hover {
  text-decoration: none;
  color: black;
}

.ex-hyper:hover {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.mycards {
  margin: 20px auto 0px auto;
  width: 95%;
  max-width: 1200px;
}

.mytable {
  margin: auto;
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.mytable>tbody>tr>td>a {
  text-decoration: none;
  color: black;
}

.mytable>tbody>tr>td>a:hover {
  text-decoration: none;
  color: black;
}

.mytable>tbody>tr>td {
  border: 1px solid #333;
  height: 100%;
  width: 5%;
  max-width: 10%;
  vertical-align: middle;
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
}
/* index */

