<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>나혼자안산다</title>
    <script>
        $(document).ready(function (){
            let form_data = new FormData()
            let data = '{{ account.accountEmail }}'
            form_data.append("id_give" , data )
            form_data.append("see",0)
            $.ajax({
                type: "POST",
                url: "/favorite",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    let tmp= response["number"]
                    $('#favorite_number').empty()
                    $('#favorite_number').append(tmp+"명")
                    console.log(tmp)
                }
            });
        })
        function favorite() {
            let form_data = new FormData()
            let data = '{{ account.accountEmail }}'
            form_data.append("id_give" , data )
            form_data.append("see", 1)
            $.ajax({
                type: "POST",
                url: "/favorite",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    let tmp= response["number"]
                    $('#favorite_number').empty()
                    $('#favorite_number').append(tmp+"명")
                }
            });
        }
    </script>
</head>

<body>
<header>
    <nav class="navbar nav-global navbar-expand-sm">
        <div class="container" id="nav-container">
            <a class="navbar-brand" href="javascript:history.back()">
                <i class="material-icons ic-filter">arrow_back_ios</i>뒤로
            </a>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" id="nav_item">
                <script>
                    let email = localStorage.getItem('accountEmail')
                    let temp = ""
                    if (email == '{{ account.accountEmail }}') {
                        temp = ` <button class="btn btn-primary btn-submit btn-outline-light" id="signout"
                        style="background-color: #1E7E5E;">
                        로그아웃
                    </button>`
                        $('#nav_item').append(temp)
                    }

                </script>
            </li>
        </ul>
    </nav>
</header>
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active" aria-current="page">
                                <span style="color: #1E7E5E;">
                                {{ account.nickname }}
                            </span>
                            님의 프로필
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center" id="card-body">
                        <img src="{{ url_for('static', filename=account.profileImg) }}"
                             alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ account.nickname }}</h5>
                        <script>
                            email = localStorage.getItem('accountEmail')
                            temp = ""

                            if (email == '{{ account.accountEmail }}') {
                                temp = `<label class="input-file-button" for="input-profile">
                                    +
                                </label>
                                <input type="file" accept="image/*" id="input-profile" style="display: none;"/>`
                                $('#card-body').append(temp)
                            }

                        </script>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ account.accountEmail }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ account.phone }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">추천인원</p>
                            </div>
                            <div class="col-sm-9">
                                <button onclick="favorite()">추천하기</button>
                                <p class="text-muted mb-0" id="favorite_number"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">
                        {% for board in boards %}
                            <div class="card mb-4 mb-md-1">
                                <a href="/detail?id={{ board['_id'] }}">{{ board['title'] }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="module" src="{{ url_for('static', filename='js/profile.js') }}" defer></script>
</body>

</html>